{
  "branches": ["main", {"name": "beta", "prerelease": true}],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    ["@semantic-release/exec", {
      "prepareCmd": "./bin/version.sh ${nextRelease.version} && ./bin/update_issue_templates.sh ${nextRelease.version}",
      "publishCmd": "./bin/build.sh ${nextRelease.version} && ./bin/package.sh ${nextRelease.version}"
    }],
    [
      "@semantic-release/git",
      {
        "assets": [".github/ISSUE_TEMPLATE/bug_report_template.yml", "CHANGELOG.md", "VERSION"],
        "message": "chore(release): ${nextRelease.version}\n\n${nextRelease.notes}"
      }
    ],
    ["@semantic-release/github", {
      "assets": ["dist/*.zip"],
      "releasedLabels": ["🚀 released"]
    }]
  ],
  "repositoryUrl": "https://github.com/agoralabs-sh/decentralized-autonomous-collective"
}
